<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/bus.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>The Short Bus | Chat</title>
</head>

<body>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Hop on the bus.</h1>
            <h4><span id="stats">Currently serving:</span> <br> <span id="stats">{{numUsers}}</span> users across <span id="stats">{{numRooms}}</span> rooms.</h4>
            <form action="/chat.html">
                <label>Name</label>
                <input type="text" name="username" placeholder="Username" required>
                <label>Room</label>
                <input type="text" name="room" placeholder="Room" required>
                <button>Join</button>
            </form>
        </div>
    </div>
</body>
</html>