/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #ccc;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
    text-align: center;
}

h4 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #ccc;
}

input {
    border: 1px solid #cccccc;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #17202A;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #FEBE2D;
}

button:disabled {
    cursor: default;
    background: #17202A;
}

/* Join*/

#stats{
    color:#FEBE2D;
}


.centered-form {
    background: #17202A;
    background-image: url("/img/bus_front.png");    
    background-position: bottom; /* Center the image */
    background-size: 50vh; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat; /* Do not repeat the image */
    width: 100vw;
    height: 100vh;   
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #4D5656;
    padding: 24px;
    width: 500px;
    margin: 0 auto;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat*/

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #4D5656;
    width: 225px;
    overflow-y: scroll;
}

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background: #17202A;
    color: #cccccc;
}

.chat__messages {
    flex-grow: 1;
    padding: 8px 24px 0 24px;
    overflow-y: scroll;
}

/* Messages*/

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    text-transform: capitalize;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Write */

.compose {
    display: flex;
    flex-shrink: 0;
    padding: 24px;
    background: #4D5656;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
    background: #cccccc;
}

.compose button {
    font-size: 14px;
}

/* Sidebar */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #424949;
    padding: 24px;
    text-transform: capitalize;
    word-wrap: break-word;
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
    text-transform: capitalize;
}


@media only screen and (max-height: 500px) {
    .centered-form {
      background-image: none;
    }
    .centered-form__box {
        height: 100%;
    }
  }
